* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Work Sans';
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  font-smoothing: antialiased;
}

html {
  font-size: 10px;
  font-family: 'Comfortaa';
  color: white;
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
}

.a-link {
  display: inline-block;
  text-decoration: none;
  color: white;
}

section {
  padding: 5rem 0rem;
}

.container {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (max-width: 320px) {
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 80%;
  }
}

.title {
  font-size: 2.5rem;
}

@media only screen and (min-width: 1024px) {
  .title {
    font-size: 3.5rem;
  }
}

.divisor {
  width: 40%;
}

@media only screen and (min-width: 1024px) {
  .divisor {
    width: 10%;
  }
}

.paragraph {
  margin: 2rem 0rem;
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: justify;
}

@media only screen and (min-width: 1024px) {
  .paragraph {
    text-align: center;
    font-size: 1.6rem;
    max-width: 800px;
    margin: 2rem auto;
  }
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("/assets/images/background_hero.jpg") center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  header {
    background-attachment: fixed;
  }
}

.menu {
  padding: 3rem 3rem;
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  background-color: #0067A6;
  border-radius: 10px;
  z-index: 999;
  cursor: pointer;
}

.menu__bars::after, .menu__bars, .menu__bars::before {
  content: "";
  position: absolute;
  width: 4rem;
  height: 4px;
  background-color: white;
  border-radius: 5px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: all 650ms;
  transition: all 650ms;
}

.menu__bars::before {
  top: -2rem;
}

.menu__bars::after {
  top: 2rem;
}

.nav {
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  position: relative;
}

.nav__overlay {
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 888;
  -webkit-transition: opacity 650ms;
  transition: opacity 650ms;
}

.nav__ul {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__a {
  display: block;
  font-size: 3rem;
  padding: 0.2rem;
  margin: 2rem 4rem;
  text-align: center;
  -webkit-transition: all 650ms;
  transition: all 650ms;
  text-decoration: none;
  text-align: left;
  color: white;
  font-weight: 300;
}

.logo {
  position: absolute;
  top: 2rem;
  left: 3rem;
}

@media only screen and (min-width: 1024px) {
  .logo {
    top: 3rem;
    left: 6rem;
  }
}

.logo__text {
  font-size: 1.8rem;
  font-weight: 300;
}

.logo span {
  font-weight: 700;
}

@media only screen and (min-width: 1024px) {
  .main-text {
    text-align: left;
    position: absolute;
    left: 6rem;
  }
}

.main-text__h1 {
  font-size: 4rem;
}

@media only screen and (min-width: 1024px) {
  .main-text__h1 {
    font-size: 8rem;
  }
}

.main-text__p {
  font-size: 2.5rem;
}

@media only screen and (min-width: 1024px) {
  .main-text__p {
    font-size: 3rem;
  }
}

.main-text__button {
  margin-top: 3rem;
  -webkit-transition: .4s;
  transition: .4s;
  display: inline-block;
  text-decoration: none;
  outline: none;
  border: none;
  background-color: #0067A6;
  color: white;
  padding: 1.2rem 3rem;
  border-radius: 10px;
  font-size: 1.5rem;
  font-family: 'Work Sans';
  font-weight: bold;
}

@media only screen and (min-width: 1024px) {
  .main-text__button:hover {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-transition: .4s;
    transition: .4s;
  }
}

.icons-header {
  position: absolute;
  bottom: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media only screen and (min-width: 320px) {
  .icons-header {
    bottom: 7rem;
  }
}

@media only screen and (min-width: 1024px) {
  .icons-header {
    right: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 50%;
    bottom: 50%;
  }
}

.icons-header__svg {
  width: 50%;
  padding: 1rem 1.2rem;
  -webkit-transition: .4s;
  transition: .4s;
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .icons-header__svg {
    width: 100%;
    -webkit-filter: opacity(0.5);
            filter: opacity(0.5);
  }
  .icons-header__svg:hover {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-filter: opacity(1);
            filter: opacity(1);
    cursor: pointer;
  }
}

.icons-language {
  margin: 4rem 0rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 1024px) {
  .icons-language {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    grid-gap: 0rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 4rem auto;
    max-width: 800px;
  }
}

.icons-language__svg {
  width: 40%;
}

@media only screen and (min-width: 1024px) {
  .icons-language__svg {
    width: 40%;
  }
}

.mis-habilidades-grid {
  margin: 2rem;
}

@media only screen and (min-width: 1024px) {
  .mis-habilidades-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.mis-habilidades-grid__svg {
  width: 30%;
  margin: 2rem 0rem;
}

@media only screen and (min-width: 1024px) {
  .mis-habilidades-grid__svg {
    width: 45%;
  }
}

.mis-habilidades-grid__title {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 1024px) {
  .mis-habilidades-grid__title {
    text-align: left;
  }
}

.mis-habilidades-grid__p {
  font-size: 1.3rem;
}

.mis-habilidades-grid__column {
  margin: 2rem 0rem;
}

@media only screen and (min-width: 1024px) {
  .mis-habilidades-grid__column {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    grid-gap: 0rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
}

.menu-portafolio {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.menu-portafolio__link {
  margin: 0rem .2rem;
  display: inline-block;
  text-decoration: none;
  outline: none;
  border: none;
  background-color: transparent;
  border: 1px solid #0067A6;
  color: white;
  padding: 1.2rem 1rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-family: 'Work Sans';
  font-weight: 300;
}

@media only screen and (min-width: 1024px) {
  .menu-portafolio__link {
    font-size: 1.5rem;
    margin: 0rem 1rem;
  }
}

.menu-portafolio-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 1024px) {
  .menu-portafolio-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 6rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu-portafolio-grid__column {
  width: 100%;
  height: 350px;
  border-radius: 5px;
  position: relative;
  background-color: #0c0c0c;
  text-align: left;
  -webkit-transition: .4s;
  transition: .4s;
}

@media only screen and (min-width: 1024px) {
  .menu-portafolio-grid__column {
    height: 550px;
  }
}

.menu-portafolio-grid__column:nth-child(1):hover {
  background-color: #2655AF;
}

.menu-portafolio-grid__column:nth-child(2):hover {
  background-color: #233460;
}

.menu-portafolio-grid__column:nth-child(3):hover {
  background-color: #009EE0;
}

.menu-portafolio-grid__column:nth-child(4):hover {
  background-color: #ED5336;
}

.menu-portafolio-grid__column:nth-child(5):hover {
  background-color: #F6AA12;
}

.menu-portafolio-grid__column:nth-child(6):hover {
  background-color: #4AAA13;
}

.menu-portafolio-grid__column:nth-child(7):hover {
  background-color: #2655AF;
}

.menu-portafolio-grid__column:nth-child(8):hover {
  background-color: #161616;
}

.menu-portafolio-grid__column:nth-child(9):hover {
  background-color: #EF5706;
}

.menu-portafolio-grid__column:nth-child(10):hover {
  background-color: #00FF45;
}

.menu-portafolio-grid__column:hover {
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  cursor: pointer;
}

.menu-portafolio-grid__image {
  position: absolute;
  bottom: -0.2rem;
  left: 0;
}

.menu-portafolio-grid__png {
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .menu-portafolio-grid__png {
    width: 100%;
  }
}

.menu-portafolio-grid__text {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.menu-portafolio-grid__title {
  font-size: 1.5rem;
  color: #656565;
}

.menu-portafolio-grid__p {
  font-size: 2.5rem;
  font-weight: 700;
}

::-webkit-input-placeholder {
  color: white;
  font-family: 'Works Sans';
}

:-ms-input-placeholder {
  color: white;
  font-family: 'Works Sans';
}

::-ms-input-placeholder {
  color: white;
  font-family: 'Works Sans';
}

::placeholder {
  color: white;
  font-family: 'Works Sans';
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
}

form label {
  font-size: 1.5rem;
  text-align: left;
  font-weight: 300;
}

form label span {
  color: #0067A6;
  font-weight: 700;
}

form input[type="text"],
form input[type="email"] {
  margin: 1.5rem 0rem;
  width: 100%;
  outline: none;
  border: none;
  background-color: #0c0c0c;
  padding: 1.2rem;
  color: white;
  caret-color: #0067A6;
}

form textarea {
  width: 100%;
  margin: 1.5rem 0rem;
  width: 100%;
  outline: none;
  border: none;
  background-color: #0c0c0c;
  padding: 1.2rem;
  color: white;
  resize: none;
  caret-color: #0067A6;
}

form button {
  margin-top: 1rem;
  width: 100%;
  display: inline-block;
  text-decoration: none;
  outline: none;
  border: none;
  background-color: #0067A6;
  color: white;
  padding: 1.2rem 3rem;
  border-radius: 10px;
  font-size: 1.5rem;
  font-family: 'Work Sans';
  font-weight: bold;
  font-weight: 300;
}

@media only screen and (min-width: 1024px) {
  #contacto {
    background: url("/assets/images/background_hero.jpg") center no-repeat;
    background-size: cover;
  }
}

@media only screen and (min-width: 1024px) {
  .form-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 0rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 1024px) {
  #contacto .container {
    text-align: left;
  }
}

@media only screen and (min-width: 1024px) {
  #contacto .paragraph {
    text-align: left;
    max-width: 100%;
  }
}

footer {
  padding: 2rem 0rem;
}

footer h1 {
  font-weight: 300;
}

footer h1 span {
  font-weight: 700;
}

.footer-social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 1rem 0rem;
}

.footer-social-icons__svg {
  width: 10%;
  margin: 1rem;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

@media only screen and (min-width: 1024px) {
  .footer-social-icons__svg {
    width: 2%;
  }
  .footer-social-icons__svg:hover {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-filter: opacity(1);
            filter: opacity(1);
    cursor: pointer;
  }
}
/*# sourceMappingURL=style.css.map */