&:nth-child(1) {
    &:hover {
        background-color: #2655AF;
    }
}

&:nth-child(2) {
    &:hover {
        background-color: #233460;
    }
}

&:nth-child(3) {
    &:hover {
        background-color: #009EE0;
    }
}

&:nth-child(4) {
    &:hover {
        background-color: #ED5336;
    }
}

&:nth-child(5) {
    &:hover {
        background-color: #F6AA12;
    }
}

&:nth-child(6) {
    &:hover {
        background-color: #4AAA13;
    }
}

&:nth-child(7) {
    &:hover {
        background-color: #2655AF;
    }
}

&:nth-child(8) {
    &:hover {
        background-color: #161616;
    }
}

&:nth-child(9) {
    &:hover {
        background-color: #EF5706;
    }
}

&:nth-child(10) {
    &:hover {
        background-color: #00FF45;
    }
}

&:hover {
    transition: .4s;
    transform: scale(0.98);
    cursor: pointer;

}